<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete Photo Success</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>
	
	<a th:href="@{/backHome}" th:text="'home'"></a><br /><br />
	
	<h1 class="display" th:text="'Photo successfuly deleted'"></h1><br /><br />
    
    <div class="display" th:each="photo : ${photos}"> 
    	<p th:text="'Photo ID: ' + ${photo}" />
    </div>
      
</body>
</html>